.account-appeal {
	.form-wrap {
		margin-top: 50px;

		.item {
			font-size: 14px;
			margin-left: 217px;
			margin-bottom: 20px;
		}

		label {
			display: inline-block;
			width: 75px;
			text-align: right;
		}

		input,
		select {
			width: 264px;
			height: 36px;
			margin-left: 20px;
			border-radius: 4px;
			vertical-align: middle;
		}

		#verCode {
			width: 172px;
			margin-right: 6px;
		}

		.code-btn {
			width: 82px;
			height: 36px;
			color: #1A8CFF;
			vertical-align: middle;
		}

	}

	#step2{
		label{
			width: 110px;	
		}
	}

	.submit {
		width: 112px;
		height: 36px;
		margin-left: 395px;
		margin-top: 40px;
		margin-bottom: 20px;
		font-size: 12px;
		line-height: 1;
	}
	#success {
		font-size: 18px;
		text-align: center;
		.font{
			color: #FF701A;
		}
	}
}