.activity {
	width: 1186px;
	min-height: 760px;
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 60px;

	.aty-list {
		display: flex;
		flex-wrap: wrap;
		padding: 50px 72px;

		.aty-item {
			position: relative;
			width: 100%;
			height: 134px;
			overflow: hidden;
			border-radius: 10px;
			margin-bottom: 38px;

			&:hover {
				box-shadow: 0 3px 6px 0px rgba(123, 133, 151, 0.6);

				.mask {
					transform: translateY(0);
				}
			}

			.mask {
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				transform: translateY(-100%);
				transition: all 0.5s;

				button {
					width: 108px;
					height: 30px;
					font-size: 14px;
				}
			}
		}
	}

	.aty-detail {
		overflow: hidden;

		.title {
			text-align: center;
			margin-top: 50px;
			margin-bottom: 30px;
		}

		.content {
			font-size: 14px;
			margin: 0 auto;
			line-height: 20px;
		}

		.aty-btn {
			display: block;
			width: 100px;
			height: 36px;
			margin: 80px auto;
		}
	}
}