.binding-phone,
.binding-email {
	.form-wrap {
		padding-top: 34px;

		.item {
			font-size: 14px;
			margin-left: 252px;
			label{
				display: inline-block;
				width: 48px;
			}
			input {
				width: 264px;
				height: 36px;
				margin-left: 20px;
				border-radius: 4px;
				vertical-align: middle;
			}

			#verCode {
				width: 172px;
				margin-right: 6px;
			}

			.code-btn {
				width: 82px;
				height: 36px;
				color: #1A8CFF;
				vertical-align: middle;
			}

			&:first-of-type {
				margin-bottom: 20px;
			}
		}

		#submit {
			width: 112px;
			height: 36px;
			margin-left: 395px;
			margin-top: 40px;
			margin-bottom: 20px;
			font-size: 12px;
			line-height: 1;
		}
	}
	.tip{
		font-size:12px;
		color: #999999;
		line-height: 1;
		margin-bottom: 10px;
		margin-left: 371px;
	}
	.sub-tip{
		font-size:12px;
		color: #999999;
		line-height: 1;
		margin-left: 317px;
	}
}