.swiper-container {
	background-color: #1A8CFF;
	min-width: 1200px;
	height: 580px;

	.swiper-slide {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	.swiper-pagination {
		bottom: 205px;
	}

	.swiper-pagination-bullet {
		width: 34px;
		height: 6px;
		border-radius: 3px;
		background: #fff;
		opacity: 1;
	}

	.swiper-pagination-bullet-active {
		background: #1975FF;
	}
}

.login-area {
	position: relative;
	display: flex;
	margin-top: -174px;
	z-index: 10;

	.login {
		padding: 20px;
	}

	.item {
		background-color: #fff;
		height: 266px;
		width: 284px;
		margin-right: 20px;
		border-radius: 4px;


		&:last-child {
			margin-right: 0;
		}

		.pic-wrap {
			position: relative;
			height: 174px;
			overflow: hidden;

			.mask {
				position: absolute;
				top: -174px;
				left: 0;
				z-index: 10;
				width: 100%;
				height: 174px;
				text-align: center;
				background-color: rgba(0, 0, 0, 0.5);
				transition: all 0.5s;

				button {
					margin-top: 66px;
					width: 108px;
					height: 30px;
				}
			}
		}

		.item-bottom {
			padding: 20px;
			height: 92px;
		}
	}

	.item:hover {
		.mask {
			top: 0;
		}
	}

	.pt-title {
		line-height: 18px;
		position: relative;
		font-size: 18px;
		color: #333333;
		font-weight: bold;
		margin-bottom: 22px;

		&:after {
			content: "";
			position: absolute;
			display: block;
			width: 38px;
			height: 2px;
			background-color: #1A8CFF;
			bottom: -6px;
		}
	}

	.sub-title {
		line-height: 12px;
		font-size: 14px;
		font-weight: 400;
		color: #B3B3B3;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.login-after {
	padding: 20px;
	font-size: 12px;

	.led-user-wrap {
		display: flex;

		.info {
			margin-left: 8px;
		}

		.led-avater {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			overflow: hidden;
		}
	}

	.name-wrap {
		.name {
			display: inline-block;
			width: 115px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			margin-top: 8px;
		}

		.icon {
			display: inline-block;
			width: 14px;
			height: 14px;
			background-repeat: no-repeat;
			background-size: contain;

			&.tel {
				background-image: url('../img/shoujihaoma.png');
				margin-left: 10px;
			}

			&.email {
				background-image: url('../img/youxiang.png');
				margin-left: 6px;
			}
		}

	}

	.msg {
		margin-top: 8px;
		color: #808080;

		.num {
			color: red;
		}

		.out {
			margin-left: 50px;
			cursor: pointer;
		}
	}

	.level-wrap {
		display: flex;
		align-items: center;
		margin: 8px 0;

		.level {
			display: inline-block;
			width: 62px;
			line-height: 18px;
			height: 20px;
			font-size: 12px;
			background: linear-gradient(90deg, rgba(219, 151, 44, 1) 0%, rgba(219, 176, 44, 1) 100%);
			border-radius: 12px;
			text-align: center;
			color: #fff;
		}

		.progress {
			display: block;
			width: 180px;
			height: 8px;
			overflow: hidden;
			background: #E6E6E6;
			border-radius: 4px;
			margin: 0 8px;

			.pg {
				display: block;
				height: 8px;
				width: 20%;
				background: #F3A92C;
				border-radius: 4px;
			}
		}
	}

	.btn-group {
		margin-top: 18px;
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;

		.btn {
			display: block;
			height: 30px;
			width: 118px;
			text-align: center;
			line-height: 30px;
			color: #2e2e2e;
			font-size: 12px;
			background: #F4F4F4;
			border-radius: 3px;
		}
	}

	.user-play-g {
		.text {
			padding-bottom: 8px;
			border-bottom: 1px solid #EEEEEE;
		}

		.p-g {
			display: flex;
			align-items: center;
			padding-top: 8px;

			.game-pic {
				margin-right: 8px;
				width: 25px; 
				height: 25px;
				background-color: #F4F4F4;
			}

			.game-name {
				flex: 1;
			}

			.go {
				width: 60px;
				height: 25px;
				line-height: 24px;
				border-radius: 3px;
				background-color: #138DFF;
				color: #fff;
				text-align: center;
			}
		}
	}

}

.trans-info-area {
	display: flex;
	justify-content: space-between;
	margin-top: 22px;
	margin-bottom: 43px;

	.left {
		width: 894px;

		.info {
			display: flex;
			height: 24px;
			line-height: 24px;
			font-size: 12px;
			color: #666666;
			margin-bottom: 10px;
			border-bottom: 1px solid #E6E6E6;

			&::before {
				content: "";
				display: block;
				width: 60px;
				height: 24px;
				margin-right: 12px;
				background-image: url('../img/index/yinliang-icon.png'), linear-gradient(-90deg, rgba(255, 156, 0, 1) 0%, rgba(255, 186, 1, 1) 100%);
				border-radius: 0px 20px 0px 0px;
				background-repeat: no-repeat;
				background-size: 18px, auto;
				background-position: center;
			}
		}

		.content {
			display: flex;
			background-color: #fff;
			border-radius: 4px;

			.item {
				flex: 1;

				.text-wrap {
					margin: 30px 0;
					font-size: 16px;
					text-align: center;
					border-right: 1px solid #EBEBEB;

					.tit {
						line-height: 16px;
						color: #333333;
						margin-top: 0;
						margin-bottom: 14px;
						font-weight: 400;

						&::before {
							content: "";
							display: inline-block;
							width: 14px;
							height: 14px;
							margin-right: 5px;
							background-image: url('../img/headericonSprite.png');
							background-repeat: no-repeat;
							background-position: -21px -50px;
						}
					}

					.text {
						font-size: 24px;
						line-height: 24px;
						color: #E83A3A;
						margin-bottom: 14px;
						font-weight: 400;
					}
				}

				&:last-child .text-wrap {
					border: none
				}
			}
		}
	}

	.right {
		width: 284px;

		.tit {
			line-height: 14px;
			font-size: 14px;
			font-weight: 400;
			color: #666666;
			margin-bottom: 7px;
		}

		.content-wrap {
			height: 126px;
			overflow: hidden;
			background-color: #fff;
			border-radius: 4px;
			padding: 8px 15px;

		}

		.content {
			height: 98px;
			overflow: hidden;
			margin: 14px;

			.item {
				display: flex;
				justify-content: space-between;
				height: 22px;
				font-size: 12px;

				.name,
				.game {
					color: #999999;
				}

				.amount {
					color: #E83A3A;
				}
			}
		}
	}
}

.game-area {
	margin-bottom: 58px;

	.header {
		text-align: justify;
		font-size: 0;
		margin-bottom: 20px;

		div {
			display: inline-block;
		}

		.title {
			color: #000;
			line-height: 18px;
			font-size: 18px;
			font-weight: bold;

			&:before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				margin-right: 12px;
				width: 6px;
				height: 18px;
				background: linear-gradient(0deg, rgba(255, 56, 56, 1) 0%, rgba(255, 185, 34, 1) 100%);
			}

			span {
				vertical-align: middle;
			}

		}

		.btn-wrap {
			display: inline-block;
			font-size: 14px;
			color: #999;
			cursor: pointer;

			&:after {
				content: "";
				display: inline-block;
				vertical-align: middle;
				width: 16px;
				height: 16px;
				background-repeat: no-repeat;
				background-image: url(../img/headericonSprite.png);
				background-position: 0px -29px;
				margin-left: 11px;
			}
		}

		&:after {
			content: "";
			width: 100%;
			display: inline-block;
		}
	}

	.content {
		display: flex;

		.item {
			width: 284px;
			height: 232px;
			background-color: #fff;
			margin-right: 21px;
		}

		.item-bottom {
			display: flex;
			justify-content: space-between;

			.left {
				margin-left: 12px;

				.pt-title {
					line-height: 16px;
					font-size: 16px;
					font-weight: 400;
					margin-top: 10px;
					margin-bottom: 8px;
				}

				.sub-title {
					font-size: 12px;
					font-weight: 400;
					color: #B3B3B3;
					line-height: 12px;
				}
			}

			button {
				width: 70px;
				line-height: 10px;
				height: 24px;
				padding: 5px 8px;
				margin-top: 14px;
				margin-right: 23px;

				&:hover {
					border: 1px solid #1A8CFF;
					background-color: #1A8CFF;
					color: #fff;
				}
			}
		}
	}
}