.fedis-main
{
    background-image: linear-gradient(125deg, #573e81, #133259 40%, #133259);
    color:block;
	padding: 80px;    
	display: flex;
	h1{font-size: 6em; font-family: Arial, Helvetica, sans-serif; text-align: center;font-weight: 100; }
}
.footer{color:#888 }