.modify-phone {
	.step-pic {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 98px;
		margin-bottom: 36px;

		.item {
			position: relative;
			z-index: 2;
			margin-right: 100px;

			.text {
				font-size: 14px;
				margin-bottom: 10px;
				line-height: 1;
			}

			.circle {
				width: 34px;
				height: 34px;
				margin: 0 auto;
				line-height: 30px;
				text-align: center;
				border: 2px solid #E5E5E5;
				border-radius: 50%;
				background-color: #fff;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}

		.item.cur {
			color: #FF701A;

			.circle {
				border-color: #FF701A;
			}
		}

		.bar {
			position: absolute;
			width: 365px;
			height: 1px;
			top: 62px;
			left: 308px;
			background-color: #E5E5E5;

			.inline {
				display: block;
				height: 1px;
				width: 0;
				background-color: #FF701A;
			}
		}
	}

	.first,.second {
		.input-wrap {
			display: flex;
			align-items: center;
			margin-left: 247px;
			margin-bottom: 20px;

			label {
				width: 90px;
				text-align: right;
				margin-right: 12px;
			}

			input {
				width: 264px;
				height: 38px;
				border-radius: 4px;
			}

			#verCode,#t2VerCode {
				width: 172px;
			}

			.code-btn {
				width: 82px;
				height: 36px;
				color: #1A8CFF;
				margin-left: 10px;
			}

		}

		#step1Btn,#step2Btn {
			width: 112px;
			height: 36px;
			display: block;
			margin: 0 auto;
			margin-top: 40px;
		}
	}

	.set-success{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 18px;
		color: #333;
		&::before{
			content: "";
			display: block;
			width: 50px;
			height: 50px;
			background: url("../img/chognzhichenggong.png") no-repeat;
			background-size: contain;
			margin-right: 18px;
		}
	}
}