.password-appeal{
	.form-wrap{
		margin-top: 50px;
		.item {
			font-size: 14px;
			margin-left: 217px;
			margin-bottom: 20px;
		}
		label{
			display: inline-block;
			width: 75px;
			text-align: right;
		}
		input,select {
			width: 264px;
			height: 36px;
			margin-left: 20px;
			border-radius: 4px;
			vertical-align: middle;
		}
		#verCode {
			width: 172px;
			margin-right: 6px;
		}

		.code-btn {
			width: 82px;
			height: 36px;
			color: #1A8CFF;
			vertical-align: middle;
		}

	}
	.submit {
		width: 112px;
		height: 36px;
		margin-left: 395px;
		margin-top: 40px;
		margin-bottom: 20px;
		font-size: 12px;
		line-height: 1;
	}
	.success-tip{
		text-align: center;
		margin-top: 55px;
	}
}
#secondBox{
	.item{
		display: flex;	
		align-items: center;
		.input-wrap{
			position: relative;
			input{
				padding-right: 38px;
			}
		}	
		.icon-eyes{
			position: absolute;
			top: 8px;
			right: 12px;
			display: block;
			width: 20px;
			height: 20px;
			background-image: url("../img/commonsprite.png");
			background-repeat: no-repeat;
			background-position: 0px 0px;
			cursor: pointer;
		}
		.icon-eyes.on{
			background-position: -25px 0px;
		}
	}
}