.recharge {
	position: relative;

	.title {
		display: flex;
		justify-content: space-between;
		padding-right: 30px;

		.record {
			font-size: 14px;
			color: #1A8CFF;
		}
	}

	.pay-type-wrap {
		display: flex;
		justify-content: center;
		height: 50px;
		line-height: 50px;

		.item {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 160px;
			border: 1px solid #F5F5F5;
			text-align: center;
			font-size: 14px;
			user-select: none;
			cursor: pointer;

			&.active {
				border-color: #FF701A;
				color: #FF701A;
			}

			.pay-icon {
				display: block;
				width: 30px;
				height: 30px;
				margin-right: 6px;
				background-repeat: no-repeat;
				background-image: url('../img/payiconSprite.png');

				&.wx {
					background-position: 0px 0px;
				}

				&.zfb {
					background-position: -35px -35px;
				}

				&.wing {
					background-position: -35px 0px;
				}

				&.card {
					background-position: 0px -35px;
				}
			}
		}
	}

	.wx-pay {
		margin-left: 166px;
		margin-top: 55px;

		.item {
			font-size: 0;
			margin-bottom: 20px;
			label{
				display: inline-block;
				width: 75px;
				font-size: 14px;
			}
			.input-box {
				margin-left: 30px;
				width: 264px;
				height: 40px;
				border-radius: 4px;
				font-size: 14px;
			}
		}

		.amount-wrap {
			margin-top: 36px;
			display: flex;
			.label{
				width: 75px;
			}
			.list {
				width: 520px;
				margin-left: 30px;

				.box {
					float: left;
					width: 160px;
					height: 40px;
					line-height: 38px;
					margin-right: 20px;
					margin-bottom: 14px;
					text-align: center;
					border: 1px solid #E6E6E6;
					border-radius: 4px;
					user-select: none;
					cursor: pointer;

					&:nth-of-type(3n) {
						margin-right: 0;
					}

					&.active {
						border-color: #FF701A;
						background: url("../img/jinekuang.png") no-repeat;
						background-size: 22px 22px;
						background-position: right bottom;
					}

					&.other {
						display: flex;
						align-items: center;

						input {
							width: 103px;
							height: 26px;
							margin-left: 8px;
							margin-right: 10px;
							font-size: 12px;
							border-radius: 4px;
							outline: none;
						}
					}
				}
			}
		}

		.to-amount-tip {
			margin-top: 40px;
			margin-bottom: 10px;
			margin-left: 208px;
			font-size: 14px;

			.text {
				color: #333333;
			}

			.amount {
				color: #3CBE00;
				font-weight: bold;
			}

			.cost {
				color: #B7B7B7;
			}
		}

		.submit {
			width: 260px;
			height: 50px;
			margin-left: 190px;
			font-size: 16px;
		}
	}

	.card-pay-unbind {
		width: 100%;
		background: url("../img/wallet/weibangdin.png") no-repeat;
		background-size: 90px;
		background-position: center 94px;
		text-align: center;
		overflow: hidden;
		.card-ub-tip{
			color: #9DB9D1;
			font-size: 14px;
			margin-top: 192px;
		}
		.add-card-btn{
			width:112px;
			height:36px;
			margin-top: 28px;
		}
	}

	.bottom-tip {
		position: absolute;
		width: 910px;
		height: 110px;
		margin: 0 30px;
		padding-top: 10px;
		border-top: 1px solid #E6E6E6;
		font-size: 12px;
		bottom: 0;

		.tit {
			display: flex;
			align-items: center;
			margin-bottom: 10px;

			&::before {
				content: "";
				display: block;
				width: 14px;
				height: 14px;
				background: #FF701A;
				border-radius: 50%;
				margin-right: 8px;
			}
		}

		.text {
			color: #999999;
			line-height: 20px;
		}
	}
}

.recharge-modal {
	.modal-dialog {
		width: 520px;
		height: 440px;
	}

	.modal-title {
		text-align: center;
		font-size: 18px;
		font-weight: 400;
		padding-top: 6px;
		line-height: 1;
	}

	.modal-content {
		width: 100% !important;

		.modal-body {
			width: 440px;
			margin: 0 auto;
			border-top: 1px solid #E6E6E6;
			padding-top: 25px;

			.item {
				margin-left: 115px;
				margin-bottom: 30px;
				line-height: 1;
				font-size: 14px;

				.label {
					color: #999999;
				}

				.success {
					color: #3EBC00;
				}

				.cost {
					font-size: 12px;
					color: #999999;
				}
			}

			.btn-group {
				display: flex;
				justify-content: center;
				margin-top: 45px;

				button {
					width: 100px;
					height: 36px;
				}

				.submit {
					margin-right: 20px;
				}

				.cancel {
					background-color: #F4F4F4;
					border: none;
				}
			}
		}
	}
}

.pay-modal {
	.modal-dialog {
		width: 520px;
		height: 540px;
	}

	.modal-title {
		text-align: center;
		font-size: 18px;
		font-weight: 400;
		padding-top: 6px;
		line-height: 1;
	}

	.modal-content {
		width: 100% !important;

		.modal-body {
			width: 440px;
			margin: 0 auto;
			border-top: 1px solid #E6E6E6;
			padding-top: 25px;

			.pay {
				text-align: center;

				.pay-code {
					margin-top: 13px;
					margin-bottom: 38px;
				}

				.pay-tip {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 210px;
					height: 86px;
					margin: 0 auto;
					background-color: #536A90;
					border-radius: 4px;
					font-size: 12px;
					color: #fff;
					background-image: url("../img/wallet/saomiaoerweima.png");
					background-repeat: no-repeat;
					background-size: 118px 48px;
					background-position: center;
				}
			}
		}
	}
}

