.retrieve-psw {
	position: relative;
	width: 1200px;
	background-color: #fff;
	height: 806px;
	margin-top: 20px;
	margin-bottom: 60px;
	overflow: hidden;

	.form-wrap {
		margin-top: 100px;

		.item {
			font-size: 14px;
			margin-left: 380px;
			margin-bottom: 20px;
			display: flex;
			align-items: center;

			.input-wrap {
				position: relative;

				input {
					padding-right: 38px;
				}
			}

			.icon-eyes {
				position: absolute;
				top: 8px;
				right: 12px;
				display: block;
				width: 20px;
				height: 20px;
				background-image: url("../img/commonsprite.png");
				background-repeat: no-repeat;
				background-position: 0px 0px;
				cursor: pointer;
			}

			.icon-eyes.on {
				background-position: -25px 0px;
			}
		}

		label {
			display: inline-block;
			width: 90px;
			text-align: right;
		}

		input,
		select {
			width: 264px;
			height: 36px;
			margin-left: 20px;
			border-radius: 4px;
			vertical-align: middle;
		}

		#verCode {
			width: 172px;
			margin-right: 6px;
		}

		.code-btn {
			width: 82px;
			height: 36px;
			color: #1A8CFF;
			vertical-align: middle;
		}

	}

	.submit {
		width: 112px;
		height: 36px;
		margin-left: 536px;
		margin-top: 40px;
		margin-bottom: 20px;
		font-size: 12px;
		line-height: 1;
	}

	.success-tip {
		text-align: center;
		margin-top: 55px;

		a {
			color: #1A8CFF;
		}
	}

	.btm-tip {
		position: absolute;
		bottom: 60px;
		left: 0;
		right: 0;
		width: 920px;
		margin: 0 auto;
		text-align: center;
		color: #999999;
		font-size: 12px;
		padding-bottom: 4px;
		border-bottom: 1px solid #E6E6E6
	}
}

#secondBox {
	.item {}
}