.security-pwd{
	padding: 0 30px;
	margin-top: 30px;
	font-size: 12px;
	.not-set{
		.tip{
			color: #999999;
			line-height: 20px;
		}
		.cont-wrap{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 90px;
			margin-top: 35px;
			background-color: #FFFBEE;
			box-shadow: 0 0 10px 2px #ececec;
			border-radius:4px;
			.text{
				display: flex;
				align-items: center;
				color: #FF701A;
				margin-right: 28px;
				vertical-align: middle;
				.spot{
					display: inline-block;
					width: 16px;
					height: 16px;
					background: url('../img/weishezhi.png') no-repeat;
					background-size: contain;
					margin-right: 6px;
				}
			}
			#submit{
				width:120px;
				height:34px;
				font-size: 12px;
				line-height: 1;
			}
		}
	}
}