.user-center {
	.user-info {
		display: flex;
		align-items: center;
		width: 100%;
		height: 210px;
		background-color: #fff;
		padding-left: 30px;
		margin-top: 25px;
		margin-bottom: 20px;
		border-radius: 4px;

		.user-avatar-wrap {
			width: 130px;
			height: 130px;
			border-radius: 50%;
			overflow: hidden;
			margin-right: 20px;
			background-color: #808080;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.info {
			flex: 1;
			line-height: 1;

			.item {
				margin-bottom: 14px;
			}

			.account {
				font-size: 16px;
				font-weight: bold;
				color: #333333;
				margin-right: 14px;
			}

			.time {
				font-size: 12px;
				color: #808080;
			}

			.level-wrap {
				display: flex;
				align-items: center;

				.level {
					display: inline-block;
					width: 62px;
					line-height: 18px;
					height: 20px;
					font-size: 12px;
					background: linear-gradient(90deg, rgba(219, 151, 44, 1) 0%, rgba(219, 176, 44, 1) 100%);
					border-radius: 12px;
					text-align: center;
					color: #fff;
				}

				.progress {
					display: block;
					width: 180px;
					height: 8px;
					overflow: hidden;
					background: #E6E6E6;
					border-radius: 4px;
					margin: 0 8px;

					.pg {
						display: block;
						height: 8px;
						width: 20%;
						background: #F3A92C;
						border-radius: 4px;
					}
				}

				.text {
					font-size: 12px;

					b {
						color: #FF701A;
						font-weight: 400;
					}
				}
			}

			.message {
				display: flex;
				align-items: center;
				font-size: 12px;
				color: #808080;

				.msg-icon {
					display: block;
					width: 16px;
					height: 16px;
					background: url(../img/userCenter/xinxi.png) no-repeat;
					background-size: contain;
					margin-right: 10px;
				}

				.num {
					color: #E83A3A;
				}
			}

			.btn-group {
				margin-top: 20px;

				button {
					width: 90px;
					height: 30px;
					margin-right: 10px;

					a {
						display: block;
						height: 100%;
						line-height: 28px;
					}
				}
			}
		}
	}

	.main {
		display: flex;
		margin-bottom: 76px;

		.sidebar {
			min-height: 806px;

			.icon {
				background-image: url('../img/userCenterSprite.png')
			}

			.wdzh {
				background-position: -25px -50px;

			}

			.wdyx {
				background-position: -50px 0px;

			}

			.ejmm {
				background-position: 0px 0px;

			}

			.wdxx {
				background-position: 0px -25px;

			}

			.item.active,
			.item:hover {
				.wdzh {
					background-position: 0px -50px;
				}

				.wdyx {
					background-position: -50px -25px;

				}

				.ejmm {
					background-position: -25px 0px;

				}

				.wdxx {
					background-position: -25px -25px;

				}

			}
		}

		.content {
			flex: 1;
			background-color: #fff;
			border-radius: 4px;
			padding-top: 36px;

			.header {
				display: flex;
				align-items: center;
				border-bottom: 1px solid #E6E6E6;
				padding-left: 30px;
				margin-bottom: 18px;
				line-height: 1;

				.title {
					font-size: 18px;
					color: #333;
					padding-bottom: 6px;
					margin-right: 20px;
					border-bottom: 3px solid #1A8CFF;
				}

				.safety-level {
					font-size: 12px;
					color: #666666;

					span:first-of-type {
						padding-left: 19px;
						border-left: 1px solid #F0F0F0;
					}

					.secure-step{
						margin-left: 6px;
						i{
							display: inline-block;
							width: 20px;
							height: 6px;
							margin-right: 6px;
							background-color: #E6E6E6;
						}
						i.focus{
							background-color: #FF701A;
						}
					}
				

					.text {
						color: #FF701A;
					}
				}
			}

			.verified {
				padding: 0 30px;
				margin-bottom: 24px;

				.form-wrap {
					height: 212px;
					background-color: #FAFAFA;
					padding-top: 36px;

					.item {
						margin-left: 208px;
						margin-bottom: 12px;
						font-size: 14px;

						&:last-of-type {
							margin-bottom: 20px;
						}

						input {
							width: 264px;
							height: 36px;
							margin-left: 20px;
							border-radius: 4px;
							font-size: 12px;
						}
					}

					button {
						width: 112px;
						height: 36px;
						margin-left: 365px;
						font-size: 12px;
						line-height: 1;
					}
				}
			}

			.verified-complete {
				padding: 0 30px;
				margin-bottom: 24px;

				.wrap {
					width: 910px;
					margin: 0 auto;
					background-color: #FAFAFA;
					padding-top: 36px;
					padding-bottom: 60px;

				}

				.item {
					margin-left: 51px;
					margin-bottom: 18px;
					font-size: 14px;
					color: #999999;

					&:last-of-type {
						margin-bottom: 20px;
					}

					.text {
						color: #333;
					}
				}

				.tip {
					display: flex;
					align-items: center;
					margin-left: 51px;
					margin-top: 20px;
					font-size: 12px;
					color: #39DD00;

					.safety {
						display: block;
						width: 26px;
						height: 26px;
						background: url("../img/anquan-icon@2x.png") no-repeat;
						background-size: contain;
						margin-right: 10px;
					}
				}

			}

			.binding-info {
				padding: 0 30px;

				.item {
					display: flex;
					align-items: center;
					padding: 27px 0;
					border-bottom: 1px solid #F5F5F5;

					&:last-of-type {
						border-bottom: none;
					}

					.icon {
						display: block;
						width: 34px;
						height: 34px;
						margin-right: 23px;
						background-repeat: no-repeat;
						background-size: 34px;
					}

					.b-tel {
						background-image: url('../img/shoujihaoma.png')
					}

					.b-email {
						background-image: url('../img/youxiang.png')
					}

					.column {
						flex: 1;
						line-height: 1;
						font-size: 12px;

						.tip {
							display: flex;
						}

						div:first-of-type {
							margin-bottom: 8px;
						}

						.hd {
							margin-right: 19px;
						}

						.status {
							color: #FF701A;
							display: flex;
							align-items: center;
						}

						.info {
							margin-left: 10px;
						}

						.sub-tip {
							color: #999999;
						}

						.status-icon {
							display: inline-block;
							width: 16px;
							height: 16px;
							background: url('../img/weishezhi.png') no-repeat;
							background-size: 16px;
							margin-right: 5px;
						}
					}

					button {
						width: 96px;
						height: 32px;
						color: #FF701A;
					}

				}

				.bind-after {
					.tip {
						color: #39DD00;

						.status {
							color: #39DD00;
						}
					}

					.column {
						.status-icon {
							background: url('../img/yibangding.png') no-repeat;
						}
					}
					button {
						color: #333;
					}
				}

			}

			.verified .title,
			.verified-complete .title,
			.binding-info .title {
				display: flex;
				align-items: center;
				height: 48px;
				line-height: 48px;
				font-size: 16px;

				&::before {
					content: "";
					display: block;
					width: 3px;
					height: 16px;
					background-color: #FF701A;
					margin-right: 9px;
				}
			}
		}
	}
}