.center-wallet{
    display: flex;
    min-height: 806px;
    margin-top: 20px;
    margin-bottom: 60px;
    .content{
        flex: 1;
        background-color: #fff;
        border-radius:4px;
        .title{
            padding-left: 30px;
            padding-top: 37px;
            border-bottom: 1px solid #E6E6E6;
            span{
                display: inline-block;
                line-height: 18px;
                font-size: 18px;
                font-weight:400;
                color: #333;
                padding-bottom: 6px;
                border-bottom: 3px solid #1A8CFF;
            }
        }
        .balance-detail{
            width: 760px;
            margin: 0 auto;
            .item{
                height: 90px;
				border-bottom: 1px solid #f0f0f0;
				padding: 22px 0;
				div{
					display: flex;
					justify-content: space-between;
					line-height: 1;
					margin-bottom: 13px;
					&:last-of-type{
						margin-bottom: 0;
					}
				}
                .type{
                    font-size:16px;
                    color: #333;
				}
				.date{
					font-size: 14px;
					color: #999999;
				}
                .amount{
                    font-weight:bold;
                    font-size:16px;
                    color: #333;
                }
                .over{
                    font-size: 16px;
                    color: #333333;
                }
            }
        }
    }
}
