.record-detail {
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 60px;
	padding-bottom: 80px;
	min-height: 596px;
	overflow: hidden;

	.step-pic {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 758px;
		height: 98px;
		margin: 0 auto;
		margin-top: 50px;

		.item {
			position: relative;
			z-index: 2;
			color: #999999;

			.text {
				font-size: 14px;
				margin-bottom: 10px;
				line-height: 1;
			}

			.circle {
				width: 36px;
				height: 36px;
				margin: 0 auto;
				background-color: #fff;
				background-image: url('../img/wdrdetailsprite.png');
				background-repeat: no-repeat;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}

		.item.cur {
			color: #1A8CFF;

			.circle {
				border-color: #1A8CFF;
			}
		}

		.completed {
			.circle {
				background-position: 0px -41px;
			}
		}

		.ing {
			.circle {
				background-position: 0px 0px;
			}
		}

		.not-start {
			.circle {
				background-position: -41px 0px;
			}
		}

		.bar {
			position: absolute;
			width: 720px;
			height: 2px;
			left: 25px;
			top: 62px;
			background-color: #E5E5E5;

			.inline {
				display: block;
				height: 2px;
				width: 50%;
				background-color: #1A8CFF;
			}
		}
	}

	.estimate-time{
		width: 758px;
		margin: 0 auto;
		font-size: 12px;
		text-align: center;
		text-indent: 30px;
		color: #999999;
		margin-bottom: 35px;
	}
	.detail-list {
		width: 758px;
		margin: 0 auto;
		font-size: 14px;

		.item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 50px;
			border-bottom: 1px solid #f0f0f0;
		}
	}

}