.withdraw{
	.title {
		display: flex;
		justify-content: space-between;
		padding-right: 30px;

		.record {
			font-size: 14px;
			color: #1A8CFF;
		}
	}
	.form-wrap{
		margin-left: 153px;
		margin-top: 55px;
		.item {
			margin-bottom: 20px;
			label{
				display:inline-block;
				width: 84px;
				text-align: right;
			}
			.input-box {
				margin-left: 30px;
				width: 264px;
				height: 40px;
				border-radius: 4px;
				font-size: 14px;
			}
		}
		.amount-wrap {
			margin-top: 36px;
			display: flex;

			.label{
				display:inline-block;
				width: 84px;
				text-align: right;
			}
			.list {
				width: 520px;
				margin-left: 30px;

				.box {
					float: left;
					width: 160px;
					height: 40px;
					line-height: 38px;
					margin-right: 20px;
					margin-bottom: 14px;
					text-align: center;
					border: 1px solid #E6E6E6;
					border-radius: 4px;
					user-select: none;
					cursor: pointer;

					&:nth-of-type(3n) {
						margin-right: 0;
					}

					&.active {
						border-color: #FF701A;
						background: url("../img/jinekuang.png") no-repeat;
						background-size: 22px 22px;
						background-position: right bottom;
					}

					&.other {
						display: flex;
						align-items: center;

						input {
							width: 103px;
							height: 26px;
							margin-left: 8px;
							margin-right: 10px;
							font-size: 12px;
							border-radius: 4px;
							outline: none;
						}
					}
				}
			}
		}

		.to-amount-tip {
			margin-top: 40px;
			margin-bottom: 10px;
			margin-left: 208px;
			font-size: 14px;

			.text {
				color: #333333;
			}

			.amount {
				color: #3CBE00;
				font-weight: bold;
			}

			.cost {
				color: #B7B7B7;
			}
		}

		.submit {
			width: 260px;
			height: 50px;
			margin-left: 190px;
			font-size: 16px;
		}
	}
}

.withdraw-modal {
	background-color:rgba(0,0,0,0.5);
	.modal-dialog {
		width: 520px;
		height: 440px;
	}

	.modal-title {
		text-align: center;
		font-size: 18px;
		font-weight: 400;
		padding-top: 6px;
		line-height: 1;
	}

	.modal-content {
		width: 100% !important;

		.modal-body {
			width: 440px;
			margin: 0 auto;
			border-top: 1px solid #E6E6E6;
			padding-top: 25px;

			.item {
				margin-left: 115px;
				margin-bottom: 30px;
				line-height: 1;
				font-size: 14px;

				.label {
					color: #999999;
				}

				.success {
					color: #3EBC00;
				}

				.cost {
					font-size: 12px;
					color: #999999;
				}
			}

			.btn-group {
				display: flex;
				justify-content: center;
				margin-top: 45px;

				button {
					width: 100px;
					height: 36px;
				}

				.submit {
					margin-right: 20px;
				}

				.cancel {
					background-color: #F4F4F4;
					border: none;
				}
			}
		}
	}
}


.success-modal{
	background-color: rgba(51, 51, 51, 0.5);
}